[Unit]
Description=AWS CodeStar Sample ASP.NET Core Web Service

[Service]
WorkingDirectory=/home/ubuntu/aspnetcoreservice/
ExecStart=/usr/bin/dotnet /home/ubuntu/aspnetcoreservice/AspNetCoreWebService.dll
Restart=always
# Restart service after 10 seconds if dotnet service crashes
RestartSec=10
SyslogIdentifier=aspnetcoreservice
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install]
WantedBy=multi-user.target